@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1>Welcome to Lunar</h1>
</div>

<div class="wrapper card-center">
    <a asp-area="" asp-controller="Notebook" asp-action="Index">
        <div class="card">
            <img src="images/notesImage.png" alt="Glowing Sky Image" class="image">
            <div class="info">
                <h1>Notes</h1>
            </div>
        </div>
    </a>
</div>