* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,
body {
    height: 100%;
    overflow: hidden;
    background-image: url('../images/wallpaperflare.com_wallpaper (2).jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.navbar, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
}

.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

main {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.center-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.transparent-container {
    background-color: rgba(0, 0, 0, 0.5);
}



/* Center a card */
.card-center {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text {
    text-align: center;
}

    .text h1 {
        font-size: 2.5rem;
        color: white;
    }

    .text p {
        font-size: 1.2rem;
        color: white;
    }

thead, tbody {
    text-align: center;
    vertical-align: central;
}

footer {
    position: relative;
}

@media (max-width: 768px) {
    .navbar-collapse {
        flex-direction: column;
        align-items: center;
    }

    .center-content {
        position: static;
        transform: none;
        margin-bottom: 10px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
