@model FolderViewModel

<h2>Create Folder</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="NotebookId" />
    <input type="hidden" asp-for="ParentFolderId" />

    <button type="submit" class="btn btn-primary">Create</button>
</form>


@* @model FolderViewModel

@{
    ViewData["Title"] = "Add a new folder";
}

<div class="text-center mb-4 mt-2">
    <h2>@ViewData["Title"]</h2>
</div>

<hr />

<div class="row d-flex justify-content-center align-items-center flex-column card-center">
    <div class="col-md-6">
        <div class="transparent-container card">
            <form asp-action="Create" method="post" class="d-flex flex-column justify-content-center align-items-center text-center">
                <div class="card-body">
                    <label asp-for="Title" class="card-title mb-2">Folder Name</label>
                    <br />
                    <input asp-for="Title" class="form-control transparent-container" />
                </div>

                <button type="submit" class="btn btn-primary mt-2 mb-4">Create Folder</button>
            </form>

            <div class="card-footer d-flex align-content-center justify-content-center ">
                <a asp-action="Index" class="btn btn-outline-secondary">Back To Folders List</a>
            </div>
        </div>
    </div>
</div> *@