@model NotebookViewModel

@{
    ViewData["Title"] = "Add a new notebook";
}

<div class="text-center mb-4 mt-2">
    <h2>@ViewData["Title"]</h2>
</div>

<hr />

<div class="row d-flex justify-content-center align-items-center flex-column card-center">
    <div class="col-md-6">
        <div class="transparent-container card">
            <form asp-action="Create" method="post" class="d-flex flex-column justify-content-center align-items-center text-center">
                <div class="card-body">
                    <label asp-for="Title" class="card-title mb-2">Notebook Name</label>
                    <br />
                    <input asp-for="Title" class="form-control transparent-container" />
                </div>

                <button type="submit" class="btn btn-primary mt-2 mb-4">Create Notebook</button>
            </form>

            <div class="card-footer d-flex align-content-center justify-content-center ">
                <a asp-action="Index" class="btn btn-outline-secondary">Back To Notebooks List</a>
            </div>
        </div>
    </div>
</div>